@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.playing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 42px;
    margin-bottom: 220px;
}

.playing .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    width: 235px;
    color: #fff;
    margin-bottom: 50px;
    font-family: 'Righteous', cursive;
}

.playing .title img {
    width: 52px;
    height: 60px;
}